/* Блок header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1340px;
  margin: 92px auto auto auto;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
}
.header__logo_image {
  margin: 0 auto 4px auto;
}
.menu-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 388px;
}
.markers li::marker {
  margin: auto;
  color: black;
  font-weight: bold;
}
.menu-list__text_first_place {
  display: flex;
}
.menu-list__text_first {
  margin: auto auto 0 auto;
  list-style-type: none;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}
.menu-list__text_place {
  list-style: circle;
  margin: auto 0 auto auto;
}
.menu-list__text {
  display: inline-block;
  text-decoration: underline;
  font-size: 18px;
  line-height: 21px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 240px;
  font-style: normal;
  line-height: 24.3px;
  font-size: 18px;
}
.contacts-list_info {
  text-decoration: underline;
}
.contacts-list_info_last {
  text-decoration: none;
}
/* Конец блока header */
/* main */
.main {
  margin: 0 auto 0 auto;
}

/* Секция Cover */
.cover {
  display: flex;
  margin: 92px auto 0 auto;
  width: 1440px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}
.dark__image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0 0);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}
.cover__text_place {
  margin: 165px 50px auto 50px;
  display: grid;
  width: 1340px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.cover__text {
  font-size: 100px;
}
.cover__text_first {
  text-align: left;
  margin: 0 0 20px 0;
  letter-spacing: 28px;
  line-height: 115%;
}
.cover__text_last-word {
  margin: 0 0 0 32px;
}
.cover__text_two {
  text-align: center;
  margin: 0 auto 0 13px;
  letter-spacing: 28.5px;
  width: 1280px;
  line-height: 100%;
}
.cover__text_three {
  text-align: right;
  margin: 20px 0 0 0;
  letter-spacing: 30px;
  line-height: 100%;
}
.cover__text_three_first-word {
  margin: auto 30px auto auto;
}
.cover__text_three_last-word {
  letter-spacing: 0;
}
.cover__context_place {
  display: flex;
}
.cover__button {
  display: flex;
  margin: 135px 50px 50px 0;
  width: 257px;
  height: 52px;
  border: 1px solid white;
  color: white;
}
.cover__button_text {
  margin: auto;
  font-size: 22px;
  width: 193px;
  text-decoration: none;
  text-transform: uppercase;
}
.cover__context {
  margin: auto 78px 62px auto;
  display: flex;
  color: white;
  white-space: pre;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}
/* Конец секции COVER */
/* Начало секции LOTS */
.lots {
  margin: 180px auto 0 auto;
  max-width: 1340px;
}
.lots__title {
  margin: 0 auto auto 40px;
  font-style: bold;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__cards {
  margin: 27px 0 auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1340px;
  flex-wrap: wrap;
  gap: 25px;
  color: white;
}
.lots__cards_container {
  display: flex;
  min-height: 450px;
  flex-basis: 430px;
  flex-grow: 1;
}
.lots__cards_link {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.lots__cards_item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  min-width: 430px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.lots__dark_image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.first_image {
  background-image: url(/images/card-lot-01.jpg);
}
.middle_image {
  background-image: url(/images/card-lot-02.jpg);
}
.last_image {
  background-image: url(/images/card-lot-03.jpg);
}
.lots__cards_title {
  margin: 50px 40px auto 40px;
  max-width: 100%;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline white;
  text-transform: uppercase;
  z-index: 1;
}
.lots__cards_text {
  display: flex;
  margin: auto 40px 50px 40px;
  text-decoration: none;
  font-size: 20px;
  max-width: 100%;
  line-height: 120%;
  z-index: 1;
}
.lots__button {
  margin: 30px 0 0 40px;
  display: block;
  text-decoration: underline;
  font-size: 20px;
  width: 192px;
  color: black;
}
/* Конец секции LOTS */
/* Начало секции AUCTION */
.auction {
  margin: 181px auto 0 auto;
  width: 1340px;
  display: flex;
}
.auction__logo_area {
  margin: 0 auto auto 0;
  display: flex;
  width: 430px;
  height: 240px;
}
.auction__logo_circle {
  margin: auto;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}
.auction__logo_image {
  margin: 63px 46px 63px 46px;
  width: 148px;
  height: 114px;
}
.auction__textarea {
  margin: 100px 0 1px auto;
  width: 885px;
}
.auction__textarea_title {
  margin: 0 auto auto 0;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}
.auction__textarea_text {
  margin: 100px 0 0 0;
  font-size: 20px;
  width: 100%;
}
.auction__textarea_text:last-child {
  margin: 25px 0 0 0;
}
/* Конец секции AUCTION */
/* Начало блока FOOTER */
.footer {
  margin: 180px auto 90px auto;
  display: flex;
  justify-content: space-between;
  width: 1340px;
}
.footer__menu-list {
  width: 149px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footer__menu-list_text_first_place {
  justify-content: center;
}
.footer__menu-list_first_text {
  margin: 0;
}
.footer__menu-list_text {
  list-style: none;
  text-align: center;
  margin: 0;
}
.footer__menu-list_text_place {
  list-style: none;
  text-align: center;
  margin: 0;
}
.footer__social_logo-area {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 240px;
}
.footer__social_logo {
  width: 48px;
  height: 48px;
}
